.wrap {
  position: relative;
  width: 100vw;
  height: 400vh;
}

.section {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 4;
  height: 100vh;
  box-shadow: 0 0 50px 0 #000;
}

.section._2nd {
  z-index: 3;
  display: block;
  background-image: url('../images/image1pb.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.section._3rd {
  z-index: 2;
  display: block;
  height: 100vh;
  background-image: url('../images/image5-min.jpeg');
  background-position: 50% 0%;
  background-size: cover;
}

.section._4th {
  z-index: 1;
  background-image: url('../images/image4pb.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.section._1st {
  display: block;
  background-image: url('../images/image4.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.section._5th {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-head {
  margin-top: 80px;
  margin-bottom: 40px;
  font-family: 'Jtusjig1 i6t8kchkm459wlhyw', sans-serif;
  color: hsla(0, 0%, 100%, 0.51);
  font-size: 4vw;
  text-align: center;
  letter-spacing: 10px;
  text-transform: capitalize;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
}

.js-clock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.8);
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
}

.clock-number {
  font-size: 6rem;
  line-height: 70px;
  font-weight: 600;
}

.clock-label {
  margin-top: 10px;
  margin-right: -5px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .js-clock {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .box {
    margin-bottom: 10px;
  }
}

@font-face {
  font-family: 'Jtusjig1 i6t8kchkm459wlhyw';
  src: url('../fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jizyrexuito99u79d0e0x8mi';
  src: url('../fonts/jizYRExUiTo99u79D0e0x8mI.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jtuqjig1 i6t8kchkm459wxrys7m';
  src: url('../fonts/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jizarexuito99u79d0kexq';
  src: url('../fonts/jizaRExUiTo99u79D0KExQ.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jizfrexuito99u79b mh0o6tlq';
  src: url('../fonts/jizfRExUiTo99u79B_mh0O6tLQ.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Jizdrexuito99u79d0e8foydlxud';
  src: url('../fonts/jizdRExUiTo99u79D0e8fOydLxUd.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}